{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <img src="/static/img/about.jpg"  height="600" width="1600" class="d-block w-100 mx-0"" class="d-block w-100" alt="...">
</div>
<div class="container my-5 text-center">
<p> <h2><strong>The RockOn </strong></h2>
<h3>The Music Band developed my Md Akhlaque Ahmed, Abhirup Kundu, Soumyadeep Patra and Bikki Shaw</h3>
      With its wide list of new stars and amazing craftsmen, ‘The RockOn’ Music Group is home to an accumulation of the best-realized record marks in the music business including Asylum, Atlantic, East West, Elektra, Nonesuch, Reprise, Rhino, Roadrunner, Rykodisc, Sire, ‘Organization Name’ Bros. furthermore, Word, just as ‘Organization Name’/Chappell Music, one of the world’s driving music distributors, with an index of more than one million copyrights around the world.
      
      It involves a variety of organizations went for helping specialists accomplish long haul innovative and money related achievement while furnishing shoppers with the most astounding quality music content accessible. It is occupied with the recorded music business (counting craftsman administrations) and the music distributing business, and is a main organization in national and global collection that works through various universal offshoots and licensees in excess of 50 nations.</p>
</div>

{% endblock body %}